<h2>Login</h2>

<form action="/api/sessions/login" method="post" id="login-form">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <button type="submit"> Login </button>
</form>

<button onclick="location.href='/api/sessions/auth/github'"> Sign in with GITHUB </button>

{{#if errorMessage}}
<h4 style="color:red"> {{errorMessage}} </h4>
{{/if}}

<hr>

<div>
    New user?
    <button>
        <a href="/signup">Sign Up</a>
    </button>
</div>